@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";
* { 
    margin: 0;
    padding: 0;
    font-family: 'roboto', roboto-bold, sans-serif;
    color: black;
}


body {
    background: rgb(249, 230, 220);
    width: auto;
    height: auto;
}
.container{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 auto;

}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background: rgb(255, 156, 118);

    width: 100%;
    height: 70px;

    position: fixed;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    z-index: 1;
}

header .logo {
    width: fit-content;
    height: 70px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 30px;
    margin: 0;
}

header .logo img {
    width: 85px;
    border-radius: 20px;

}
header .logo h2{
    font-size: 2em;
    color: black;
}
header .Pages {
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 34px;

}
header .Pages a{
    text-decoration: none;
    color: black;
}

header .LogIn {
    margin-right: 70px;
}
header .LogIn .login--btn{
    background: #3573ff;
    color: white;

    border: none;
    border-radius: 20px;

    cursor: pointer;

    width: 120px;
    height: 35px;

    opacity: .9;

}
header .LogIn .login--btn:hover{
    opacity: 1;
}
header .LogIn .login--btn:focus{
    outline: none;
}

#id01{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    
    display: none;
    z-index: 1;
}
.window{
    width: 47%;
    height: 70%;

    background: rgba(255, 255, 255, 0.87);

    position: fixed;
    top: 15%;
    left: 25%;

    display: flex;
    flex-direction: row;


}
.window .close {
    font-size: 50px;

    position: absolute;
    right: 2px;
    top: -12px;   
    opacity: .6;
}
.window .close:hover{
    color: #e50c0c;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}
.window .login--left{
    
    width: 30%;
    height: 100%;

    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5) ), url('../img/login-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.window .login--left form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 100%;

}
.window .login--left form input{
    width: 98%;
}
.window .login--left form .remember--me input{
    width: auto;
}
.window .login--left form a button{
    height: 33px;
    width: 130px;

    border-radius: 25px;
    border: none;

    background: rgb(129, 75, 231);

    transition: .5s;
    color: white;

}
.window .login--left form a button:hover{
    background: black;
    transition: .5s ;
    
}

.window .login--right{
    width: 70%;
    height: 100%;

    background: url('../img/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.post1 {
    padding-top: 60px;

    height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/post1.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.post1--text{
    width: 31%;
    margin: 35px 0 0 55px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: white;
    
    animation: post1 2s 1 linear;
    opacity: 1;
    
}
@keyframes post1{
    0%{
        margin-left: -255px;
        opacity: 0;
    }
}

.post1--text h1{
    font-size: 60px;
    width: 71%;
    font-weight: 700;
}
.post1--text h3{
    font-size: 33px;
    margin: 15px 0 20px 0;
}
.post1--text p{
    font-size: 20px;
    
    width: 73%;
    
    color: white;
}
.post1--challenges{
    width: 18%;
    height: 100%;

    background: white;
    color: black;
    
    margin: 0;
    padding-top: 70px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    animation: post-chal 1.8s 1 linear;
    opacity: 1;

    position: absolute;
    top: 0;
    right: 0;
    
}
@keyframes post-chal {
    0%{
        opacity: 0;
        right: -230px;
    }
}
.post1--challenges h1{
    font-size: xx-large;

}
.post1--challenges .post1--challenge1{
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
    margin-bottom: 30px;

}

.post1--challenges .post1--challenge1 .challenge--text{ 
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.post1--challenges .post1--challenge1 .challenge--text button{
    width: 100%;
    height: 33px;
    border-radius: 25px;
    border: none;
    background: rgb(129, 75, 231);
    transition: .5s;
    color: white;
}

.post1--challenges .post1--challenge1 .challenge--text button:hover{
    background: black;
    color: white;

    transition: .5s;
}
    /*     */

.post1--challenges .post1--challenge2{
    border: 1px solid black;

    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.post1--challenges .post1--challenge2 .challenge--text button{
    width: 100%;
    height: 33px;
    border-radius: 25px;
    border: none;
    background: rgb(129, 75, 231);
    transition: .5s;
    color: white;

}

.post1--challenges .post1--challenge2 .challenge--text button:hover{
    background: black;
    color: white;

    transition: .5s;
}

.post1--challenges .post1--btn{
    width: 100%;
    height: 12%;
    color: black;
    margin: 0;
    transition: .5s;
    font-size: 40px;
    font-weight: 500;
}


.post1--challenges .post1--btn button{
    width: 100%;
    height: 100%;
    background: rgb(255, 156, 118);
    transition: .5s;
    border: none;
}

.post1--challenges .post1--btn button:hover{
    background: rgb(49, 106, 223);
    color: white;

    transition: .5s;

}

.post--about{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;

    width: 100%;

    margin-top: 115px;
    margin-bottom: 125px;

}
.post--about .post--about-text{
    display: flex;  
    flex-direction: column;
    
    height: fit-content;
    width: 30%
}
.post--about-text h1{
    font-size: 52px;
    font-weight: 600;
    width: 80%;
}
.post--about .post--about-text p1{
    width: 68%;
    font-size: x-large;
}

.post--about .post--about-text p {
    width: 80%;
    font-size: 21px;

    margin: 0;
}
.post--about-text a{
    width: fit-content;
    height: fit-content;

    margin-top: 30px;
}
.post--about-text button {
    width: 140px;
    height: 40px;

    background: rgb(129, 75, 231);
    color: white;

    border: none;
    border-radius:25px ;

    transition:.5s;

}
.post--about-text button:hover{
    background: black;

    transition:.5s;

}

.trainers{
    width: 84%;
}
.trainers--text{
    width: fit-content;
    height: fit-content;
    margin-bottom: 100px;
}
.trainers--text h1 {
    font-size: 55px;
}
.trainers--text p {
    width: 54%;
    font-size: 20px;
    
    margin: 0;
}
.trainers--img{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}
.trainers--img a {
    display: block;

    float: left;
    position: relative;
    line-height: 0;
    text-decoration: none;
    transition: 0.8s;

    margin-right: 10px;

}
.trainers--img a:hover {
    transform: scale(0.986);
    transition: 0.5s;
}

.trainers--img a:after {
    content: "";
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.trainers--img a:hover:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100.1%;
    background: transparent;
    background-image: linear-gradient(180deg, rgba(107, 90, 221, 0), rgba(107, 90, 221, 1));
    opacity: 0.8;

}
.trainers--img a:before {
    color: white;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.5s;

}

.trainers--img a:hover:before {
    display: inline-block;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -26px 0 0 -26px;
    z-index: 100;
    opacity: 1;
    content: "trainers";

}

.trainers--img img {
    width: 100%;
    height: auto;
}

.more--challenges {
    margin-top: 155px;
    margin-bottom: 100px;

    width: 84%;

    display: flex;
    flex-direction: column;

    }

.more--challenges-text{
    width: fit-content;
    margin-left: 42px;
}
.more--challenges-text p{
    margin: 0;
    width: 53%;
    font-size: 24px;

}
.challenges--block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;

}
.challenges--block .block{
    margin: 34px;

    height: 465px;
    width: 28%;

    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-bottom: 15px;
}

.challenges--block .block img{
    width: 100%;
    height: 260px;
}   

.challenges--block .block h1{
    margin-left: 35px;

}
.challenges--block .block p{
    margin-left: 35px;
}

.challenges--block .block button{
    margin-left: 35px;
}


.challenges--block .block button{
    width: 140px;
    height: 40px;
    color: white;
    background:rgb(129, 75, 231);

    border: none;
    border-radius:25px;

    transition: .5s;
}

.challenges--block .block button:hover{
    background: black;
    transition: .5s;

}
.invite--block{
    width: 84%;
    height: 670px;

    display: flex;
    flex-direction: row;
    
}
.invite--left{
    width: 50%;
    background: rgb(255, 156, 118,1);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 110px;

}
.invite--left-text{
    height: fit-content;
    width: 57%;

}
.invite--left-text img{
    width: 85px;
    margin-bottom: 25px;
}
.invite--left-text h1{
    width: 100%;
    font-size: 43px;
}
.invite--left-text h3{
    margin-top: 25px;
}

.invite--right{
    width: 50%;

    background: rgb(255, 215, 199)
}

.invite--right-form{
    width: 100%;
    height: 100%;
}
.invite--right-form form{
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.invite--right-form form div{

    display: flex;
    flex-direction: column;

    width: 40%;
    height: 100px;
}
.invite--right-form form div input{
    width: 100%;
    height: 100%;
    
    border-radius: 10px;
    border: none;

    font-size: 22px;

}
.invite--right-form form div span { 
    margin-bottom: 5px;
    font-size: 22px;
}
footer{
    width: 92%;
    height: 250px;

    margin-top: 100px;
    margin-bottom: 85px;

    display: flex;
    flex-direction: row;

    border: 1px solid black;
}
footer .footer--left{
    border-right: 1px solid black;

    width: 15%;
    height: 100%;

    padding-top: 25px;

}
footer .footer--left .footer--left-text{
    display: flex;
    flex-direction: column;
    align-items: center;

}
footer .footer--left .footer--left-text ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footer--left .footer--left-text ul a{ 
    color: black;
    text-decoration: none;
    margin-top: 8px;
}
footer .footer--center{
    width: 70%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;
}
footer .footer--center h1{
    font-size: 23px;
    width: 40%;
}
footer .footer--center p{
    margin-right: 136px;
    font-size: 27px;
}
footer .footer--center .footer--center-input{
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer .footer--center .footer--center-input button{
    width: 100px;
    height: 52px;

    background: black;
    color: white;

    transition: .5s ;

    border: none;
    border-radius: 42px;

    margin-left: 25px;
}
footer .footer--center .footer--center-input button:hover{
    background: rgb(129, 75, 231);

    transition: .5s ;
}
footer .footer--center .footer--center-input input{
    width: 220px;
    height: 52px;
    
    border: none;
    border-radius: 16px;

}
footer .footer--right{
    width: 17%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 50px;

    background: #854ec3;
}

footer .footer--right .footer--right-links img{
    width: 28px;
    height: 28px;
    
    border-radius: 50%;
}
                    /*  media queries for Phone - Ipad     */
@media (max-width:768px) {
    header .Pages{
        display: none;
    }
    .post1 .post1--challenges{
        display: none;
    }
    
}
            /* Media queries for Ipad pro */
@media (min-width: 992px) and (max-width: 1025px){ 
    header .Pages{
        font-size: 25px;
    }
    #id01 .window{
        width: 70%;
        height: 50%;

        top: 20%;
        left: 13%;
        
    }
    .post1 .post1--challenges{
        display: none;
    }
    .post1 .post1--text{
        width: 53%;
    }
    .post1 .post1--text h1{
        width: 83%;
    }
    .post1 .post1--text p{
        width: 80%;
    }
    .post--about{
        width: 100%;

        flex-direction: column;
        align-items: center;
    }
    .post--about .post--about-text{
        flex-direction: column;
        align-items: center;

        width: 99%;
    }
    .post--about .post--about-text p{
        width: 80%;
    }
    .post--about .post--about-text a{
        margin-bottom: 20px;
    }
    .trainers{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .trainers .trainers--text{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 40px;
    }
    .trainers .trainers--img{
        display: flex;
        flex-direction: column;
    }
    .trainers .trainers--img a{
        margin-top: 50px;
    }
    .more--challenges .more--challenges-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .more--challenges .more--challenges-text p{
        width: fit-content;
    }

    .more--challenges .challenges--block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .more--challenges .challenges--block .block{
        width: 55%;
        height: auto;
    }
    .invite--block{
        width: 100%;
        height: 1340px;

        display: flex;
        flex-direction: column;
        align-items:center;
        
    }
    .invite--block .invite--left{
        width: 85%;
        height: 35%;
        padding-top: 60px;

    }
    .invite--block .invite--right{
        width: 85%;
        height: 50%;
    }
    .invite--block .invite--right form{ 
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .invite--block .invite--right form div{ 
        width: 95%;

    }
    .invite--block .invite--right form .input--message{
        height: 210px;
    }
    footer{
        margin-top: 0;
    }
    footer .footer--center {
        padding-top: 17px;

    }
    footer .footer--center h1{
        width: 64%;

    }
}
                 /* Media queries  for Iphone 6, 6+, 6s+, 7, 8, X, XR */
@media  (max-width:414.95px ) {
    header .logo h2{
        font-size: 40px;
    }
    header .Pages{
        display: none;
    }
    header .LogIn{
        display: none;
    }
    .post1 .post1--challenges{
        display: none;
    }
    .post1 .post1--text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-left: 17px;

        width: 100%;
        
    }
    .post1 .post1--text h3{
        margin-top: 100px;

    }
    .post1 .post1--text p{
        width: 82%;
        
    }
    .post--about{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        
        margin-top: 50px;
    }
    .post--about .post--about-text{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 91%;
    }
    .post--about img{
        width: 100%;
        height: 100%;
    }
    .post--about .post--about-text p1{
        width: 80%;
    }
    .post--about .post--about-text a{
        margin-bottom: 15px;
    }
    .trainers{
        width: 100%;
    }
    .trainers .trainers--text{
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-bottom: 15px;
    }
    .trainers .trainers--text h1{
        font-size: 50px;
    }
    .trainers .trainers--text p{
        width: 90%;
    }
    .trainers .trainers--img{
        display: flex;
        flex-direction: column;
    }
    .trainers .trainers--img a{
        margin-top: 25px;

        width: 100%;
        height: 100%;
    }
    .more--challenges{
        margin-top: 60px;

        width: 100%;

    }
    .more--challenges .more--challenges-text{
        width: 100%;
        margin:0;

    }
    .more--challenges .more--challenges-text p{
        width: 100%  ;
    }
    .more--challenges .challenges--block{
        display: flex;
        flex-direction: column;
    }
    .more--challenges .challenges--block .block{
        width: 97%;
    }
    .invite--block{
        width: 100%;
        height: 1340px;
        flex-direction: column;
    }
    .invite--block .invite--left{
        width: 100%;
        height: 50%;

        padding: 0;
    }
    .invite--block .invite--left .invite--left-text{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .invite--block .invite--left .invite--left-text h1{
        font-size: 56px;
    }
    .invite--block .invite--right{
        width: 100%;
        height: 50%;

    }
    .invite--block .invite--right .invite--right-form form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .invite--block .invite--right .invite--right-form form div{
        width: 93%;

    }
    .invite--block .invite--right .invite--right-form form .input--message{
        height: 225px;

    }
    footer{
        margin-top: 25px;
        margin-bottom: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;

        height: fit-content;
        width: 100%;
        border: none;
    }
    footer .footer--left{
        width: 100%;
        
        border-bottom: 1px solid black;
        border-right:none;
    }
    footer .footer--left .footer--left-text ul{
        font-weight: 500;
    }
    footer .footer--center{
        width: 100%;
    }
    footer .footer--center h1{
        width: 74%;
    }
    footer .footer--center p {
        margin:0;
    }
    footer .footer--center .footer--center-input{
        display: flex;
        flex-direction: column;
        
        width: 70%;
    }
    footer .footer--center .footer--center-input input{
        width: 100%;
    }
    footer .footer--center .footer--center-input button{
        width: 80%;
        margin-left: 0;
        margin-top: 20px;    
    
    }
    footer .footer--right{
        width: 100%;
        height: 34vh;

        margin-top: 20px;
        padding-top: 50px;
    }
    footer .footer--right a{
        margin-bottom: 20px;
    }
}
    
                /* Media queries for small tablet - ipad mini  */
@media (min-width:600px) and (max-width: 769px) {
    header .Pages{
        display: none;
    }
    
    .post1{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        }
    .post1--text{
        display: flex;
        justify-content: space-between;

        width: 80%;
    }

    .post1 .post1--text h3{
        margin: 0 0 20px 0;
        margin-top: 30vh;
    }
    .post1 .post1--challenges { 
        display: none;
    }
    .post--about{
        display: flex;
        flex-direction: column;

        margin-top: 55px;
        margin-bottom: 45px;
    }
    .post--about .post--about-text{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 90%;
    }
    .post--about img{
        width: 100%;
    }
    .post--about .post--about-text a{
        margin-bottom: 35px;
    }
    .trainers{
        width: 100%;

    }
    .trainers--text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .trainers .trainers--img{
        display: flex;
        flex-direction: column;

    }
    .trainers .trainers--img a{
        margin: 0;
        margin-bottom: 5px;
    }
    .more--challenges{
        margin-top: 60px;
        margin-bottom: 30px;
        width: 90%;
        display: flex;
        flex-direction:column;
    }
    .more--challenges .more--challenges-text{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .more--challenges .more--challenges-text p{
        width: 80%;

    }
    .more--challenges .challenges--block{
        display: flex;
        flex-direction: column;

    }
    .more--challenges .challenges--block .block{
        width: 90%;
    }
    .invite--block{
        width: 90%;
        height: 1340px;
        display: flex;
        flex-direction: column;
    }
    .invite--block .invite--left{
        width: 100%;
        height: 40%;

        padding-top: 40px;
    }
    .invite--block .invite--left .invite--left-text{
        width: 57%;
        height: 100%;
        
    }
    .invite--block .invite--right{
        width: 100%;
        height: 60%;

    }
    .invite--block .invite--right .invite--right-form form{
        display: flex;
        flex-direction: column;
    }
    .invite--block .invite--right .invite--right-form form div{
        width: 98%;

    }
    .invite--block .invite--right .invite--right-form form .input--message{
        height: 225px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 0;

        border: none;
    }
    footer .footer--left{
        width: 100%;
        height: fit-content;

        border-right:none;
        border-bottom: 1px solid black;
    }
    footer .footer--left .footer--left-text ul{
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
    }
    footer .footer--center{
        padding-top: 10px;

    }
    footer .footer--center h1{
        width: 70%;

    }
    footer .footer--center p{
        margin: 0;
    }
    footer .footer--center .footer--center-input{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .footer--center .footer--center-input input{
     margin-bottom: 10px;   
        
    }
    footer .footer--center .footer--center-input button{
        margin:0;
        
       }
    footer .footer--right{
        width: 57%;
        
        padding-bottom: 40px;
        margin-top: 20px;
    }

}
@media (min-width:1026px) {
    Header .Pages a{
        font-size: x-large;
    }
}
@media (max-width:1026px){
    .post1 .post1--challenges{
        display: none;
    }
}
        /* MEDIA QUERIES from Iphone 8+ to big phones  */
@media (min-width:415px) and (max-width:599px) {
    
    .post1 .post1--text{
        width: 97%;
        margin-left: 15px;


    }
    .post1 .post1--text h1{
        width: 100%;
    }
    .post1 .post1--text h3  {
        margin-top: 350px;
    }
    .post--about{
        display: flex;
        flex-direction: column;

    }
    .post--about .post--about-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 100%;
    }
    .post--about .post--about-text a{
        margin-bottom: 25px;
    }
    .post--about img{
        width: 100%;
    }
    .trainers{
        width: 100%;
    }
    .trainers .trainers--text{
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .trainers .trainers--text p{
        width: 70%;

    }
    .trainers .trainers--img { 
        display: flex;
        flex-direction: column;

    }
    .trainers .trainers--img a{
        margin-bottom: 15px;
    }
    .more--challenges{
        margin-top: 70px;

        width: 100%;
    }
    .more--challenges .more--challenges-text{
        margin:0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .more--challenges .more--challenges-text p{
        width: 95%;
    }
    .more--challenges .challenges--block{
        display: flex;
        flex-direction: column;

        width: 100%;
    }
    .more--challenges .challenges--block .block{
        width: 96%;

    }

    
    .invite--block{
        width: 100%;
        height: 1340px;

        display: flex;
        flex-direction: column;
    }
    .invite--block .invite--left{
        width: 100%;
        height: 47%;

        padding-top: 60px;

    }
    .invite--block .invite--left .invite--left-text{
        width: 60%;
    }
    .invite--block .invite--right{
        width: 100%;
        height: 53%;
    }
    .invite--block .invite--right .invite--right-form form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .invite--block .invite--right .invite--right-form form div{
        width: 98%;
    }
    .invite--block .invite--right .invite--right-form form .input--message{
        height: 225px;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;

        border:none;

    }
    footer .footer--left{
        width: 90%;
        height: fit-content;

        border-right:none;

        border-bottom: 1px solid black;
    }

    footer .footer--left .footer--left-text ul{
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
    }
    footer .footer--center{
        width: 90%;
        height: 100%;
        
        padding-top: 30px;
    }
    
    footer .footer--center h1{
        width: 53%;

    }
    footer .footer--center p{
        margin: 0;
    }
    footer .footer--center .footer--center-input{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .footer--center .footer--center-input button{
        margin-left: 0;
        margin-top: 15px;
    }

    footer .footer--right{
        margin-top: 70px;
        padding-bottom: 50px;

        width: 90%;
    }
}
        /* media queries for small phone / Iphone 5s */
@media (max-width:320px) {
    header .logo img{
        width: 70px;
    }
    header .logo h2{
        font-size: 30px;
    }
    .post1 .post1--text h1{
        font-size: 28px;
    }
    .post1 .post1--text h3{
        font-size: 25px;
    }
    .post1 .post1--text p{
        font-size: 17px;
    }
    .invite--block .invite--left .invite--left-text h1{
        font-size: 42px;
        
    }
    footer .footer--right{
        padding-top: 16px;
    }
}
            /* media queries for ipad mini - ipad pro */
@media (min-width:769px) and (max-width:991px){
    header .logo img{
        width: 75px;
    }
    header .logo h2{
        font-size: 40px;
    }
    header .Pages{
        font-size: 22px;
    }
    .post1 .post1--text{
        width: 65%;
    }
    .post--about{
        flex-direction: column;

        margin-top: 70px;
        margin-bottom: 60px;
    }
    .post--about .post--about-text{
        width: 70%;
        align-items: flex-start;

        margin-bottom: 25px;
    }
    .trainers--text{
        margin-bottom: 50px;
    }
    .more--challenges {
        margin-bottom: 20px;
        margin-top: 80px;
    }
    .more--challenges .more--challenges-text p{
        width: 77%;

    }
    .more--challenges .challenges--block{
        flex-direction: column;
    }
    .more--challenges .challenges--block .block{
        width: 65%;
    }
    .invite--block{
        width: 97%;
        
        display: flex;
        flex-direction: column;

    }
    .invite--block .invite--left{
        width: 100%;

        padding-top: 50px;
        padding-bottom: 70px;

    }
    .invite--block .invite--right{
        width: 100%;

    }
    .invite--block .invite--right .invite--right-form form{
        flex-direction: column;

        padding-bottom: 10px;

    }
    .invite--block .invite--right .invite--right-form form div{
        width: 96%;
    }
    footer{
        margin-top: 380px;
        margin-bottom: 60px;
    }
    footer .footer--center h1{
        width: 71%;
    }


}